.carrito-tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .carrito-tabla th,
  .carrito-tabla td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px; /* Reducido el tamaño de la letra */
  }
  
  .carrito-tabla th {
    background-color: #333; /* Mismo color que el fondo */
    color: white; /* Color de texto blanco para contraste */
  }
  
  .carrito-tabla th:nth-child(2), /* Selecciona la segunda columna (Nombre) */
  .carrito-tabla td:nth-child(2) {
    width: 200px; /* Ajusta este valor según sea necesario */
  }
  
  .carrito-tabla th:nth-child(3), /* Selecciona la tercera columna (Precio) */
  .carrito-tabla td:nth-child(3) {
    width: 100px; /* Ajusta este valor según sea necesario */
  }
  
  .carrito-tabla th:nth-child(4), /* Selecciona la cuarta columna (Cantidad) */
  .carrito-tabla td:nth-child(4) {
    width: 60px; /* Ajusta este valor según sea necesario */
  }
  
  .producto-en-carrito:hover {
    background-color: #333;
  }
  
  .producto-actions {
    display: flex;
    align-items: center;
    gap: 5px; /* Reducido el espacio entre input y botón */
  }
  
  .producto-actions input {
    width: 40px; /* Ajustado el ancho */
    text-align: center;
    padding: 3px; /* Reducido el padding */
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 12px; /* Reducido el tamaño de la letra */
  }
  
  .producto-actions button {
    background-color: #dc3545; /* Rojo */
    color: white;
    border: none;
    padding: 3px 5px; /* Reducido el padding */
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 12px; /* Reducido el tamaño de la letra */
  }
  
  .producto-actions button:hover {
    background-color: #c82333;
  }
  
  .total {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
  }
  
  .enviar-pedido {
    background-color: #28a745; /* Verde */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .enviar-pedido:hover {
    background-color: #218838;
  }