.productos-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.productos-tabla th,
.productos-tabla td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 12px; /* Reducido el tamaño de la letra */
}

.productos-tabla th {
  background-color: #333; /* Mismo color que el fondo */
  color: white; /* Color de texto blanco para contraste */
}

.productos-tabla input {
  width: 40px;
}

.productos-tabla th:nth-child(2), /* Selecciona la segunda columna (Nombre) */
.productos-tabla td:nth-child(2) {
  width: 200px; /* Ajusta este valor según sea necesario */
}

.productos-tabla th:nth-child(3), /* Selecciona la tercera columna (Precio) */
.productos-tabla td:nth-child(3) {
  width: 100px; /* Ajusta este valor según sea necesario */
}

.productos-tabla th:nth-child(4), /* Selecciona la cuarta columna (Cantidad) */
.productos-tabla td:nth-child(4) {
  width: 60px; /* Ajusta este valor según sea necesario */
}

.producto-item:hover {
  background-color: #333;
}

.producto-actions {
  display: flex;
  align-items: center;
  gap: 5px; /* Reducido el espacio entre input y botón */
}

.producto-actions input {
  width: 40px; /* Ajustado el ancho */
  text-align: center;
  padding: 3px; /* Reducido el padding */
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 12px; /* Reducido el tamaño de la letra */
}

.producto-actions button {
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  padding: 3px 5px; /* Reducido el padding */
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 12px; /* Reducido el tamaño de la letra */
}

.producto-actions button i {
  margin-right: 3px; /* Reducido el margen derecho */
}

.producto-actions button:hover {
  background-color: #218838;
}

.producto-actions button.disabled {
  background-color: red; /* Rojo */
  cursor: not-allowed;
}

.filtro-input {
  width: 100%;
  padding: 5px; /* Reducido el padding */
  margin-bottom: 10px; /* Reducido el margen inferior */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-size: 12px; /* Reducido el tamaño de la letra */
}